<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/AdminCss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body style="padding-top: 0 !important">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/admin">EAT SH.P.K</a>

        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm",  @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <ul class="navbar-nav right-nav px-3">
                    <li class="nav-item text-nowrap right-nav mr-3">
                        @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
                    </li>
                    <li class="nav-item right-nav text-nowrap"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            }
        }
    </nav>

    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_AdminSidebar")

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                @RenderBody()
            </main>
        </div>
    </div>

    
</body>
</html>