@model M19G2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal tobe-fadedin", role = "form" }))
{

    @Html.AntiForgeryToken()
    <div class="text-center mb-4">
        <h2>Create a new account.</h2>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <diV class="row">

        <div class="col-sm-6">
            <div class="form-label-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>

            <div class="form-label-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-label-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-label-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="form-label-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="form-label-group">
                @Html.LabelFor(m => m.Birthday)
                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
            </div>
        </div>
    </diV>

    <div class="form-label-group">
        <button class="btn btn-primary align-self-center" type="submit">Register</button>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
